<header class="header">
  <div class="container">
    <div class="header__wrap">
      <button class="btn-reset burger" aria-label="Open menu" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
      <nav class="nav" data-menu>
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="#" class="nav__link">Item - 1</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Item - 2</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Item - 3</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Item - 4</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Item - 5</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Item - 6</a></li>
        </ul>
      </nav>
      <a href="#" class="header__logo"><img src="img/logo.svg" alt=""></a>
      <a href="#" class="header__btn btn">Join Now</a>
    </div>
  </div>
</header>
