@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(180deg, #f5f5fa 0%, #f2dad5 44.15%, #a0abd6 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// Header start ========================================================================================================================================================

.header {

  // .header__wrap

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 60px;
    @media (max-width: 1200px){
        padding: 34px 0;
    }
  }

  // .header__join

  &__btn {
    padding: 10px 30px;
    @media (max-width: 768px){
        margin-top: 40px;
        margin-left: 15px;
    }
  }

  .nav {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
    overflow-y: auto;
    width: 20%;
    height: 100vh;
    background-color: #f6f0ef;
    transform: translateX(100%);
    transition: all 0.3s ease 0s;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    @media (max-width: 1400px){
        width: 25%;
    }
    @media (max-width: 1200px){
      width: 30%;
    }
    @media (max-width: 992px){
      width: 35%;
    }
    @media (max-width: 768px){
      width: 40%;
    }
    @media (max-width: 576px){
      width: 50%;
    }
    @media (max-width: 400px){
      width: 70%;
    }
    &.menu--active {
      transform: translateX(0%);
    }
    > ul {
      width: 100%;
      padding-top: 40px;
      > li {
        border-bottom: 1px solid rgba(0,0,0,0.1);
        > a {
          padding: 13px 20px;
          font-size: 16px;
          color: var(--dark-color);
          text-transform: uppercase;
          display: block;
          width: 100%;
          height: 100%;
          transition: all 0.3s ease 0s;
          &:hover {
            background-color: #F2DAD5;
          }
        }
      }
    }
  }

  // Burger ========================================================================================================================================================

  .burger {
    z-index: 100;
    @include burger;
  }
}

// Header end ========================================================================================================================================================

// Price start ========================================================================================================================================================

.price {
  padding-top: 41px;
  padding-bottom: 69px;

  padding-left: 15px;
  padding-right: 15px;

  // .price__wrapper

  &__wrapper {
    max-width: 937px;
    margin: 0 auto;
  }

  // .price__title

  &__title {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 40px;
    color: var(--dark-color);
    @media (max-width: 768px){
        text-align: center;
    }
    @media (max-width: 576px){
        margin-bottom: 25px;
    }
  }

  // .price__top

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
    @media (max-width: 768px){
        flex-direction: column;
        row-gap: 40px;
        margin-bottom: 60px;
    }
    @media (max-width: 576px){
        row-gap: 37px;
        margin-bottom: 32px;
    }
  }

  // .price__subtitle

  &__subtitle {
    max-width: 584px;
    line-height: 140%;
    font-size: 18px;
    color: var(--main-color);
    @media (max-width: 992px){
        max-width: 60%;
    }
    @media (max-width: 768px){
        max-width: none;
        text-align: center;
    }
  }

  // .price__btns

  &__btns {
    width: 220px;
    max-width: 220px;
    display: flex;
    justify-content: center;
    border-radius: 22px;
    background-color: var(--white-color);
  }

  // .price__btn

  &__btn {
    flex: 1 1 50%;
    font-size: 12px;
    letter-spacing: 0.07em;
    text-align: center;
    color: #3b3472;
    font-style: normal;
  }

  // .price__radio-input

  &__radio-input {
    display: none;
    &:checked + .price__radio-label {
      border-radius: 22px;
      background-color: var(--accent-color);
      color: var(--white-color);
      &:hover {
        background-color: #A847CC;
      }
    }
  }

  // .price__radio-label

  &__radio-label {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 13px 0;
    cursor: pointer;
  }

    // .price__lists

    &__lists {
      background: rgba(255, 255, 255, 0.64);
      border-radius: 26px;
      padding: 20px 38px;
      height: 467px;
      @media (max-width: 992px){
          height: auto;
          padding: 20px;
      }
      @media (max-width: 576px){
        max-width: 322px;
        margin: 0 auto;
      }
    }

    // .price__list

    &__list {
      height: auto;
      display: flex;
      justify-content: space-between;
      &.hidden {
        height: 0;
        transform: translateX(-100%) scaleX(0);
      }
      @media (max-width: 768px){
          flex-wrap: wrap;
          column-gap: 30px;
          row-gap: 30px;
          justify-content: center;
      }
      @media (max-width: 768px){
        row-gap: 18px;
      }
    }

  // .price__descr

  &__descr {
    font-weight: 500;
    font-size: 15px;
    color: var(--main-color);
    line-height: 140%;
    margin-bottom: 14px;
  }

  // .price__wrap

  &__wrap {
    flex-grow: 1;
  }

  // .price__popular

  &__popular {
    font-weight: 800;
    font-size: 10px;
    letter-spacing: 0.08em;
    text-align: center;
    color: #bb6bd9;
    border-radius: 13px;
    background-color: #403879;
    padding: 7px 16px;
    position: absolute;
    right: 30px;
    top: 20px;
    @media (max-width: 768px){
        position: static;
        display: block;
        margin: 0 auto;
        max-width: max-content;
        margin-bottom: 20px;
    }
  }

  // .price__item

  &__item {
    transform: translateY(-47px);
    position: relative;
    padding: 67px 20px 30px;
    flex: 0 1 calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 992px){
      transform: translateY(0px);
      padding-left: 5px;
      padding-right: 5px;
    }
    @media (max-width: 768px){
      flex: 0 1 calc((100% / 2) - 30px);
      padding-top: 20px;
    }
    @media (max-width: 576px){
      flex: 0 1 100%;
      max-width: 292px;
      padding-top: 12px;
    }
    &:last-child {
      box-shadow: 0 42px 34px 0 rgba(82, 67, 194, 0.3);
      background-color: #231d4f;
      border-radius: 26px;
      padding-left: 30px;
      padding-right: 30px;
      @media (max-width: 992px){
          padding-right: 20px;
          padding-left: 20px;
      }
      @media (max-width: 768px){
          flex: 0 1 50%;
      }
      @media (max-width: 576px){
        flex: 100%;
        padding-top: 20px;
      }
      .price__price {
        color: var(--white-color);
        span {
          color: var(--white-color);
        }
      }
      .price__tariff {
        color: var(--white-color);
      }
      .price__descr {
        color: var(--white-color);
      }
      .price__items {
        > li {
          color: var(--white-color);
          background-image: url('../img/svg/circle-hover.svg')
        }
      }
      .price__btn-card {
        max-width: none;
        width: 100%;
        text-align: center;
        background-color: var(--accent-color);
        &:hover {
          background-color: #A847CC;
        }
      }
    }
  }

  // .price__tariff

  &__tariff {
    font-size: 28px;
    color: var(--dark-color);
    font-weight: 500;
    margin-bottom: 15px;
  }

  // .price__price

  &__price {
    font-weight: 700;
    font-size: 36px;
    line-height: 128%;
    color: var(--dark-color);
    margin-bottom: 20px;
    &:before {
      content: '$';
    }
    span {
      font-weight: 500;
      font-size: 17px;
      color: #848199;
    }
  }

  // .price__items

  &__items {
    > li {
      padding-left: 30px;
      line-height: 150%;
      font-size: 15px;
      color: var(--main-color);
      background-image: url('../img/svg/circle.svg');
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 20px 20px;
      &:not(:last-child) {
        margin-bottom: 7px;
      }
    }
  }

  // .price__btn-card

  &__btn-card {
    margin-top: 23px;
    font-size: 15px;
    line-height: 100%;
    color: #fff;
    border-radius: 25px;
    background-color: var(--dark-color);
    transition: all 0.3s ease 0s;
    max-width: max-content;
    display: block;
    padding: 15px 55px;
    &:hover {
      background-color: #A847CC;
    }
    @media (max-width: 992px){
        padding: 15px 0;
        width: 100%;
        max-width: none;
        text-align: center;
    }
  }
}

// Price end ========================================================================================================================================================
